.drum-pads {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 70px);
    grid-row-gap: 7px;
    grid-column-gap: 7px;

    background-color: $keyBoardBG;
    border-radius: 20px;

    .drum-pad {
        max-width: 150px;

        font-weight: 1000;
        font-size: 2em;

        outline-style: none;

        border: none;
        border-radius: 10px;
        background-color: $keyBG;
        box-shadow: 2px 3px 3px wheat;

        cursor: pointer;

        &:active {
            background-color: #c97e3c;
            transform: translate(0, 3px);
            box-shadow: 2px 3px 1px wheat;
        }
    }
}
